{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "current"
        },
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {"useESModules": false, "corejs": 3}],
    ["transform-class-properties", {"spec": true}],
    ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]
  ]
}
